body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodyloginsignup {
  height:auto;
  width:auto;
  margin:150px;
}

.paddingbelow {
  padding-bottom: 10px;
}

.form {
  margin: auto
}

.textcenter {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-top: 100px;
}


.blue {
  color: blue;
}

.red {
  color: red;
}

.logo {
  font-size: 33px;
  font-family: Helvetica;
}

.bolded { 
  font-weight: bold; 
}

.roboto {
  font-family: 'Roboto', sans-serif;
}